<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liany.csiclient">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".Client_MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.liany.csiclient.view.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.SceneListFragmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.CreateSceneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.SceneListComparisonContactsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.SceneListComparisonEvidenceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.SceneListComparisonEvidenceFingerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.SceneListComparisonEvidenceFootActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.BaseInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.Select_RadioListActivity"
            android:theme="@style/Theme.SmallWindow"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.Select_RadioList_DictActivity"
            android:theme="@style/Theme.SmallWindow"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.Select_CheckListActivity"
            android:theme="@style/Theme.SmallWindow"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.Select_CheckList_DictActivity"
            android:theme="@style/Theme.SmallWindow"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.Select_Check_UserActivity"
            android:theme="@style/Theme.SmallWindow"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.Select_Radio_UserActivity"
            android:theme="@style/Theme.SmallWindow"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.Select_Radio_UnitActivity"
            android:theme="@style/Theme.SmallWindow"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.Select_Expand_RadioActivity"
            android:theme="@style/Theme.SmallWindow"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.Select_Expand_CheckActivity"
            android:theme="@style/Theme.SmallWindow"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.Select_Expand3_CheckActivity"
            android:theme="@style/Theme.SmallWindow"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.WifiActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.WitnessActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.step_window.Witness_AddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.step_window.Witness_HandWriteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.SituationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.step_window.PhotoViewActivity" />
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.PhotoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.FigureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.step_window.Figure_PositionActivity"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboard"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.step_window.Figure_LegendActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.VisitActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.step_window.Visit_AddContactsActivity"
            android:theme="@style/Theme.SmallWindow"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.step_window.PhotoView_RotateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.step_window.Visit_AddItemActivity"
            android:theme="@style/Theme.SmallWindow"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.step_window.Opinion_AddToolActivity"
            android:theme="@style/Theme.SmallWindow"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.ExtractActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.ProspectingActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.step_window.Extract_AddActivity" />
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.EvidenceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.step_window.Evidence_Add_FingerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.step_window.Evidence_Add_FootActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.step_window.Evidence_Add_OtherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.step_window.Evidence_Add_FaceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.widget.myCamera.CameraActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.widget.myCamera.CameraImageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.OpinionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.StationCollectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.Comparison_FingerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.Comparison_FootActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.Comparison_PeopleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.Comparison_FaceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.VideoViewActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.step_window.Visit_AddContacts_FingerActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.liany.csiclient.widget.image.ImageProcessActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.step_window.Compare_Finger_addActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.step_window.Compare_Foot_addActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.liany.csiclient.view.subView.sceneStep.step_window.Compare_Face_addActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.liany.csiclient.widget.image.MyUcropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>